{%openside%}
<div class='m-b-10 text-center'>{%info0%}</div>
<div class="table-responsive"><table class='table table-bordered clear'>
    <thead>
    <tr>
        <th>
            <small class='text-uppercase strong text-lighter'>{%title1%}</small>
        </th>
        <th>
            <small class='text-uppercase strong text-lighter'>{%title2%}</small>
        </th>
        <th>
            <small class='text-uppercase strong text-lighter'>{%title3%}</small>
        </th>
    </tr>
    </thead>
    <tbody>
    {pmcontrol.{
    <tr>
        <td>
            <div class='clearfix'>
                <div class='pull-left m-r-10'>{%avatar%}</div>
                    {%profile%}
            </div>
        </td>
        <td>{%pmtag%}</td>
        <td>{%dates%}</td>
    </tr>
    }}
    </tbody>
</table></div>
<div class='bg-info text-center'>{%info%}</div>
{%closeside%}
